{% extends 'wrapper.html' %}

{% block title %}

	{% if update %}
		{{article.title|truncatechars:10}} - редактирование поста
	{% else %}
		{{request.user}} - новый пост
	{% endif %}

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_new.css' %}">
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_detail.css' %}">
	<script src="{% static 'it_articles/js/script_post_update.js' %}"></script>

{% endblock %}

{% block top %}

	{% if update %}
		<div class="top_intro">Редактирование поста</div>
	{% else %}
		<div class="top_intro">Новый пост</div>
	{% endif %}

{% endblock %}

{% block content %}

	<div class="content-container">
	<form method="post" class="new-article-form">
		{% for field in form %}
			{% csrf_token %}
			{{field.label_tag}}
			<div class="field-help-text">{{field.help_text|safe}}</div>
			{{field}}
		{% endfor %}
		<input type="submit" value="{% if update %}Сохранить изменения{% else %}Создать пост{% endif %}">
		<label id="post-view-label">Так будет выглядеть ваш пост:<input type="button" value="Обновить" onclick="text_transform()"></label>
		<div id="post-view" class="article-content"></div>
	</div>
	</form>

{% endblock %}