{% extends 'start_page/wrapper.html' %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'account/css/style.css' %}">

{% endblock %}

{% block title %}

	Monaliza - вход

{% endblock %}

{% block top %}

	<div class="top">
	<form method="post" class="user-form">
		<div class="title">Sign in</div>
		{% csrf_token %}
		{% for field in form %}
			{{field}}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<nav class="error">{{error}}</nav>
		{% endfor %}
		<input type="submit" value="Sign in">
		<div class="url"><a href="{% url 'account:register' %}">Создать аккаунт</a></div>
	</form>
	</div>

{% endblock %}