{% extends 'wrapper.html' %}

{% block head %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'account/css/style_user_update.css' %}">
	<link rel="stylesheet" href="{% static 'account/css/style_profile.css' %}">

{% endblock %}

{% block top %}

	<div class="user-top">
		{% load static %}
		<img src="{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" alt="sdfsf" class="user-img">
	</div>

{% endblock %}

{% block content %}
	
	<div class="content-container">
		<div class="user-info">
			<div class="username">{{request.user.username}}</div>
			<ul class="statistic">
					<li>
						<div class="number">{{request.user.articles.all.count}}</div>
						<div class="word">Посты</div>
					</li>
					<li>
						<div class="number">{{request.user.questions.all.count}}</div>
						<div class="word">Вопросы</div>
					</li>
					<li>
						<div class="number">{{request.user.answers.all.count}}</div>	
						<div class="word">Ответы</div>	
				</li>
			</ul>
			<table class="info">
				<tr>
					<td class="title">Имя:</td>
					<td>
						{% if request.user.first_name and request.user.last_name %}
							{{request.user.first_name}} {{request.user.last_name}}
						{% elif request.user.first_name %}
							{{request.user.first_name}} 
						{% elif request.user.last_name %}
							{{request.user.last_name}}
						{% else %}
							<span class="missing">нет</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="title">Почта:</td>
					<td>{{request.user.email}}</td>
				</tr>
				<tr>
					<td class="title">Возраст:</td>
					<td>
						{% if request.user.age %}
							{{request.user.age}}
						{% else %}
							<span class="missing">нет</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="title">Пол:</td>
					<td>
						{% if request.user.gender %}
							{{request.user.gender}}
						{% else %}
							<span class="missing">нет</span>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="title">Дата регистрации:</td>
					<td>{{request.user.date_joined}}</td>
				</tr>
			</table>
		</div>
	</div>

{% endblock %}