{% extends 'wrapper.html' %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'account/css/style_user_update.css' %}">

{% endblock %}

{% block top %}

	hello

{% endblock %}

{% block content %}

	<style>
		input[type="file"] {
			background-color: red;
			border: 1px solid blue;

		}
	</style>

	<form method="post" class="user-update-form" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
			{{field.label_tag}}
			{{field}}
		{% endfor %}
		<input type="submit" value="Save">
	</form>

{% endblock %}