{% extends 'wrapper.html' %}
{% load qna_tags %}

{% block title %}

	Monaliza - последние вопросы

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'qna/css/style_questions.css' %}">

{% endblock %}

{% block top %}

	<div class="top_intro">Последние вопросы</div>

{% endblock %}

{% block content %}

	<div class="content-container">
		<ul class="questions-container">
			{% for question in questions %}
				<li class="question">
					<div>
						<div class="question-title">
							<a href="{% url 'qna:detail' question.id %}">{{question.title}}</a>
						</div>
						<div class="question-tags">
							{% for tag in question.tags|to_array %}
								<span>{{tag}}</span>
							{% endfor %} 
						</div>
						<div class="question-user">
							<a href="{% url 'search:user_page' question.user.username %}">{{question.user}}</a> - 11:49
						</div>
					</div>
					<ul class="question-information {% if question.is_solved %}solved-question{% endif %}">
						<li><i class="fa fa-eye"></i> {{question.views}}</li>
						<li><i class="fa {% if question.is_solved %}fa-check{% else %}fa-comment-o{% endif %}"></i>{{question.answers.count}}</li>
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}