{% extends 'wrapper.html' %}

{% block title %}

	Мои ответы / Monaliza

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'qna/css/style_my_answers.css' %}">
	<script>
		function delete_question(id) {
			if(confirm('Вы уверены, что хотите удалить этот ответ?')) 
				$('#delete-form-' + id).submit();
		}
	</script>

{% endblock %}

{% block top %}

	<div class="top_intro">
		{{request.user}} - ответы на вопросы
	</div>

{% endblock %}

{% block content %}

	<div class="content-container">
	{% if answers %}
		<div class="my-answers">
			<ul>
				<li><b>Всего ответов</b>: {{answers_count}}</li>
				<li><b>Всего ответов, которые являются решением</b>: {{right_answers_count}}</li>
			</ul>
		</div>

		<table class="all-answers">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Вопрос</th>
				<th>Ответ</th>
				<th id="articles_action">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for answer in answers %}
				<tr class="{% if answer.is_right_answer %}active{% endif %}">
					<td>{{answer.date|date:'d.m.y - h:m'}}</td>
					<td><a href="">{{answer.question.title|truncatechars:30}}</a></td>
					<td><a href="">{{answer.text|truncatechars:30}}</a></td>
					<td>
						<form id="delete-form-{{answer.id}}" action="" method="post">
							{% csrf_token %}
							<a href="">Изменить</a><span class="form-slash">/</span><a href="javascript:void()" onclick="delete_question({{answer.id}})">Удалить</a>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% else %}
		<div class="information">
			Вы еще не ответили ни на один вопрос <a href="{% url 'qna:all_questions' %}">Посмотреть вопросы?</a>
		</div>
	{% endif %}
	</div>

{% endblock %}