{% extends 'wrapper.html' %}

{% load static %}

{% block title %}

	Мои вопросы

{% endblock %}

{% block head %}

	<link rel="stylesheet" href="{% static 'qna/css/style_my_questions.css' %}">
	<script>
		function delete_question(id) {
			if(confirm('Вы уверены, что хотите удалить этот вопрос?')) 
				$('#delete-form-' + id).submit();
		}
	</script>

{% endblock %}

{% block top %}

	<div class="top_intro">
		{{request.user}} - вопросы
	</div>

{% endblock %}

{% block content %}

	<div class="content-container">
	{% if questions %}
		<div class="my-questions">
			<ul>
				<li><b>Всего вопросов</b>: {{questions.count}}</li>
				<li><b>Всего просмотров</b>: {{views_count}}</li>
				<li><b>Всего ответов на ваши вопросы</b>: {{answers_count}}</li>
			</ul>
			<a href="{% url 'qna:question_new' %}">Задать новый вопрос</a>
		</div>

		<table class="all-questions">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Заголовок</th>
				<th><i class="fa fa-comment-o"></i></th>
				<th><i class="fa fa-eye"></i></th>
				<th id="articles_action">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for question in questions %}
				<tr class="{% if question.is_solved %}active{% endif %}">
					<td>{{question.date|date:'d.m.y - h:m'}}</td>
					<td><a href="{% url 'qna:question' %}?id=question.id" title="{{question.title}}">{{question.title|truncatechars:30}}</a></td>
					<td>{{question.answers.count}}</td>
					<td>{{question.views}}</td>
					<td>
						<form id="delete-form-{{question.id}}" action="{% url 'qna:delete_question' question.id %}" method="post">
							{% csrf_token %}
							<a href="{% url 'qna:question_update' %}?id={{question.id}}">Изменить</a><span class="form-slash">/</span><a href="javascript:void()" onclick="delete_question({{question.id}})">Удалить</a>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% else %}
		<div class="information">
			У вас пока нет вопросов. <a href="{% url 'qna:new_question' %}">Задать первый?</a>
		</div>
	{% endif %}
	</div>

{% endblock %}