{% extends 'wrapper.html' %}

{% load qna_tags %}
{% load static %}

{% block title %}Последние вопросы / Monaliza{% endblock %}

{% block head %}

	<link rel="stylesheet" href="{% static 'qna/css/style_questions.css' %}">

{% endblock %}

{% block top %}

	<div class="top_intro">Последние вопросы</div>

{% endblock %}

{% block content %}

	<div class="content-container">
		<div style="display: flex; justify-content: center; margin-bottom: 20px;">
			<iframe data-aa="1394405" src="//ad.a-ads.com/1394405?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>	
		</div>
		<ul class="questions-container">
			{% for question in questions %}
				<li class="question">
					<div>
						<div class="question-title">
							<a href="{% url 'qna:question' question.id %}">{{question.title}}</a>
						</div>
						<div class="question-tags">
							{% for tag in question.tags|to_array %}
								<span>{{tag}}</span>
							{% endfor %} 
						</div>
						<div class="question-user">
							<a href="{% url 'search:user_page' question.user.username %}">{{question.user}}</a> - 11:49
						</div>
					</div>
					<ul class="question-information {% if question.is_solved %}solved-question{% endif %}">
						<li><i class="fa fa-eye"></i> {{question.views}}</li>
						<li><i class="fa {% if question.is_solved %}fa-check{% else %}fa-comment-o{% endif %}"></i>{{question.answers.count}}</li>
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}