{% extends 'wrapper.html' %}
{% load it_articles_tags %}

{% block top_title %}

	IT articles

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<script src="{% static 'it_articles/js/script.js' %}"></script>

{% endblock %}

{% block content %}

	<div class="content-container">
	<div class="articles new">
		<div class="articles-container">
			<div style="display: flex; justify-content: center;">
				<iframe data-aa="1394405" src="//ad.a-ads.com/1394405?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>	
			</div>
			<ul>
			{% for article in articles %}
				{% if not request.GET.language or article.language == request.GET.language %}
				<li class="article">
					<div class="article-user">
						{% load static %}
						<img src="{% static 'account/images/user_2.png' %}" alt="" class="user-img"><a href="{% url 'search:user_page' article.user.username %}" class="user-a">{{article.user.username}} </a>
						 - {{article.date|date:'d'}} of {{article.date|date:'F'}} at {{article.date|date:'G:m'}}
					</div>
					<div class="article-title">
						<a href="{% url 'posts:detail' article.id %}">{{article.title}}</a>
					</div>
					<div class="article-text">
						{% with article.text|safe as text  %}
							{{text|truncatechars:'900'}}
						{% endwith %}
					</div>
					<div class="article-bottom">
						<a href="{% url 'posts:detail' article.id %}" class="btn-read-more">Читать далее</a>
						<ul class="article-info">
							{% url 'posts:like_article' as url_article_like %}
							<li class="first-li like-article {% is_liked request.user article %}" id="like-{{article.id}}" onclick="{% if not request.user.is_authenticated %}alert('Для того, чтобы ставить лайки, необходимо авторизоваться');{% else %}like({{article.id}}, '{{url_article_like}}'){% endif %}">
								<i class="fa {% is_liked_fa request.user article %}"></i><span>{{article.likes}}</span>
							</li>
							<li><i class="fa fa-eye"></i>   {{article.views}}
							</li>
						</ul>
					</div>
				</li>
					
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
	</div>

{% endblock %}