{% extends 'wrapper.html' %}
{% load it_articles_tags %}

{% block top_title %}

	IT articles

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<script src="{% static 'it_articles/js/script.js' %}"></script>

{% endblock %}

{% block content %}

	<div class="content-container">
	<div class="articles new">
		<div class="articles-container">
			<div style="display: flex; justify-content: center;">
				<iframe data-aa="1394405" src="//ad.a-ads.com/1394405?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>	
			</div>
			<ul>
			{% for article in articles %}
				{% if not request.GET.language or article.language == request.GET.language %}
				<li class="article">
					<div class="article-user">
						{% load static %}
						<img src="{% static 'account/images/user_2.png' %}" alt="" class="user-img"><a href="{% url 'search:user_page' article.user.username %}" class="user-a">{{article.user.username}} </a>
						 - {{article.date|date:'d'}} of {{article.date|date:'F'}} at {{article.date|date:'G:m'}}
					</div>
					<div class="article-title">
						<a href="{% url 'posts:detail' article.id %}">{{article.title}}</a>
					</div>
					<div class="article-text">
						{% with article.text|safe as text  %}
							{{text|truncatechars:'900'}}
						{% endwith %}
					</div>
					<div class="article-bottom">
						<a href="{% url 'posts:detail' article.id %}" class="btn-read-more">Читать далее</a>
						<ul class="article-info">
							{% url 'posts:like_article' as url_article_like %}
							<li class="first-li like-article {% is_liked request.user article %}" id="like-{{article.id}}" onclick="{% if not request.user.is_authenticated %}alert('Для того, чтобы ставить лайки, необходимо авторизоваться');{% else %}like({{article.id}}, '{{url_article_like}}'){% endif %}">
								<i class="fa {% is_liked_fa request.user article %}"></i><span>{{article.likes}}</span>
							</li>
							<li><i class="fa fa-eye"></i>   {{article.views}}
							</li>
						</ul>
					</div>
				</li>
					
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<div class="posts-menu">
			<ul>
				{% if request.GET.page %}
				{% for i in articles_count|get_menu:request.GET.page %}
					<li {% if request.GET.page == i %}class="active"{% endif %}>
						<a href="?page={{i}}">{{i}}</a>
					</li>
				{% endfor %}
				{% else %}
				{% for i in articles_count|get_menu:1 %}
					<li {% if '1' == i %}class="active"{% endif %}>
						<a href="?page={{i}}">{{i}}</a>
					</li>
				{% endfor %}
				{% endif %}
				<!--<li {% if request.GET.page == '1' or not request.GET.page %}class="active"{% endif %}><a href="?page=1">1</a></li>
				<li {% if request.GET.page == '2' %}class="active"{% endif %}><a href="?page=2">2</a></li>
				<li {% if request.GET.page == '3' %}class="active"{% endif %}><a href="?page=3">3</a></li>
				<li {% if request.GET.page == '4' %}class="active"{% endif %}><a href="?page=4">4</a></li>
				<li {% if request.GET.page == '5' %}class="active"{% endif %}><a href="?page=5">5</a></li>
				<li {% if request.GET.page == '6' %}class="active"{% endif %}><a href="?page=6">6</a></li>
				<li {% if request.GET.page == '7' %}class="active"{% endif %}><a href="?page=7">7</a></li>
				<li {% if request.GET.page == '8' %}class="active"{% endif %}><a href="?page=8">8</a></li>
				<li {% if request.GET.page == '9' %}class="active"{% endif %}><a href="?page=9">9</a></li>
				<li {% if request.GET.page == '10' %}class="active"{% endif %}><a href="?page=10">10</a></li>-->
			</ul>
		</div>
	</div>
	</div>

	<style>
		
.posts-menu {
	display: flex;
}

.posts-menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: flex;
	text-align: center;
	background: #444;
}

.posts-menu li {
	width: 40px;
	padding: 2px 0;
	position: relative;
	transition: .2s all;
}

.posts-menu li:hover {
	background: #666;
}

.posts-menu li:after {
	content: "";
	position: absolute;
	width: 1px;
	height: calc(100% - 10px);
	top: 5px;
	left: -1px;
	background: #bbb;
	transition: .2s all;
}

.posts-menu li:hover:after, .posts-menu li:hover + li:after {
	height: 100%;
	top: 0;
}

.posts-menu li:nth-child(1):after {
	display: none;
}

.posts-menu .active, .posts-menu .active:hover {
	background: #0fbcf9;
}

.posts-menu .active:after, .posts-menu .active + li:after {
	background: #fff;
	height: 100%;
	top: 0;
}

.posts-menu a {
	text-decoration: none;
	display: block;
	color: #fff;
}
		
	</style>

{% endblock %}