{% extends 'wrapper.html' %}

{% block title %}

	{{article.title}}
	
{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_detail.css' %}">

{% endblock %}

{% block top %}

	<div class="top_intro">
		{{article.title}}
		<!--<div class="top_user">{{article.user}}</div>-->
	</div>

{% endblock %}

{% block content %}

	<script>
		$(function() {
			$('#comment-text').keyup(function(event) {
				if(event.keyCode == 13)
					send_comment();
			});
		});

		function send_comment() {
			var text = $('#comment-text').val().replace(/ +/g, ' ').trim();
			if(text != '') {
			$.ajax({
				type: 'get',
				url: 'check/',
				data: {
					'text': text,
				}, 
				dataType: 'text',
				cache: false,
				success: function(data) {
					context = JSON.parse(data);
					var username = '{{request.user.username}}';
					var comment = $('<li id="comment-' + context.id + '"><img src="' + "{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" + '"><div class="comment"><div class="user"><div><div>' + username + '</div><div class="date">' + context.date + '</div></div><i class="fa fa-times" aria-hidden="true" onclick="delete_comment(' + context.id + ')"></i></div><div class="text">' + context.text + '</div></div></li>');
					$('.comments ul').prepend(comment);
					$('#comment-text').val('');
				}
			});
			}
		}

		function delete_comment(id) {
			if(confirm('Are you shure')) {
			$.ajax({
				type: 'GET',
				url: 'delete_comment/',
				data: {
					'id': id,
				},
				dataType: 'text',
				cache: false,
				success: function(data) {
					if(data == '200') {
						$('#comment-' + id).css('display', 'none');
					} else 
						alert('Error - ' + data);
				}
			});
		}
		}
	</script>

	<div class="content-container">
	<div class="article-content">
		{{article.text|safe}}
	</div>
	<div class="comments">
		<div class="title">Comments ({{article.comments.all.count}})</div>
		<div class="take-comment-form">
			<img src="{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" alt="Mona.png">
			<input id="comment-text" name="text" type="text" placeholder="Enter text of your message..." autocomplete="off">
			<input type="submit" value="Send" onclick="send_comment()">
			</div>
		<ul>
			{% for comment in comments %}
				<li id="comment-{{comment.id}}">
					<img src="{% if comment.user.image %}{{comment.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" alt="Mona.png">
					<div class="comment">
						<div class="user">
							<div>
								<div>{{comment.user}}</div>
								<div class="date">{{comment.date|date:'F d, G:m'}}</div>
							</div>
							{% if comment.user == request.user %}
								<i class="fa fa-times" aria-hidden="true" onclick="delete_comment({{comment.id}})"></i>
							{% endif %}
						</div>
						<div class="text">{{comment.text}}</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	</div>

{% endblock %}