{% extends 'wrapper.html' %}
{% load it_articles_tags %}

{% block title %}

	{{article.title}}
	
{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_detail.css' %}">
	<script src="{% static 'it_articles/js/script.js' %}"></script>

	<script>
		$(function() {
			$('#comment-text').keyup(function(event) {
				if(event.keyCode == 13)
					send_comment();
			});
		});

		function send_comment() {
			{% if not request.user.is_authenticated %}
				alert('Для комментирования постов необходимо авторизоваться');
			{% else %}
			var text = $('#comment-text').val().replace(/ +/g, ' ').trim();
			if(text != '') {
				$.ajax({
					type: 'get',
					url: "{% url 'posts:send_comment' article.id %}",
					data: {
						'text': text,
					}, 
					dataType: 'text',
					cache: false,
					success: function(data) {
						context = JSON.parse(data);
						var username = '{{request.user.username}}';
						var comment = $('<li id="comment-' + context.id + '"><img src="' + "{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" + '"><div class="comment"><div class="user"><div><div>' + username + '</div><div class="date">' + context.date + '</div></div><i class="fa fa-times" aria-hidden="true" onclick="delete_comment(' + context.id + ')"></i></div><div class="text">' + context.text + '</div></div></li>');
						$('.comments ul').prepend(comment);
						$('#comment-text').val('');
						$('#articles-count').text(Number($('#articles-count').text()) + 1);
					}
				});
			}
			{% endif %}
		}

		function delete_comment(id) {
			if(confirm('Are you shure')) {
				$.ajax({
					type: 'GET',
					url: 'delete_comment/',
					data: {
						'id': id,
					},
					dataType: 'text',
					cache: false,
					success: function(data) {
						if(data == '200') {
							$('#comment-' + id).remove();
							$('#articles-count').text(Number($('#articles-count').text()) - 1);
						} else 
							alert('Error - ' + data);
					}
				});
			}
		}
	</script>

	<style>
.post-settings {
	position: absolute;
	top: 2px;
	right: 10px;
	text-align: right;
	overflow: hidden;
}	

.post-settings-btn {
	font-size: 23px;
}

.post-settings-btn:hover {
	cursor: pointer;
}

.post-settings-btn:hover ~ .post-settings-menu, .post-settings-menu:hover {
	max-height: 100px;
	opacity: 1;
}

.post-settings-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	max-height: 0;
	opacity: 0;
	background: #fff;
	border-radius: 5px;
	padding: 2px 5px;
	font-size: 14px;
	border: 2px solid #227093;
	transition: .3s all;
}

.post-settings-menu a {
	text-decoration: none;
	color: powderblue;
	transition: .1s all;
}

.post-settings-menu a:hover {
	color: #00a8ff;
}

.post-settings-menu input {
	border: none;
	background: none;
	color: powderblue;
	font-size: 15px;
	padding: 0;
}

.post-settings-menu input:hover {
	color: #00a8ff;
	cursor: pointer;
}

.post-settings-menu input:focus {
	outline: none;
}

</style>

{% endblock %}

{% block top %}

	<div class="top_intro">
		{{article.title}}
		<div class="top_user">
			<a href="{% url 'search:user_page' article.user.username %}">{{article.user}}</a> - {{article.date|date:'d'}} of {{article.date|date:'F'}} at {{article.date|date:'G:m'}}
		</div>
	</div>
	{% if request.user.is_superuser or request.user == article.user %}
		<div class="post-settings">
			<i class="fa fa-ellipsis-h post-settings-btn"></i>
			<ul class="post-settings-menu">
				<li><a href="{% url 'posts:edit_post' article.id %}">Редактировать</a></li>
				<li><form action="{% url 'posts:delete_post' article.id %}" method="post">{% csrf_token %}<input type="submit" value="Удалить"></form></li>
				{% if request.user.is_superuser %}
				<li><a href="{% if article.is_available %}{% url 'posts:set_post_available' article.id %}?is_available=false{% else %}{% url 'posts:set_post_available' article.id %}?is_available=true{% endif %}">{% if article.is_available %}Не проверено{% else %}Проверено{% endif %}</a></li>
				{% endif %}
			</ul>
		</div>
	{% endif %}

{% endblock %}

{% block content %}
	
	<div class="content-container">
	<div class="article-content">
		{{article.text|safe}}
		<ul class="post-info">
			{% url 'posts:like_article' as url_article_like %}
			<li id="like-{{article.id}}" class="post-like {% is_liked request.user article %}" onclick="{% if not request.user.is_authenticated %}alert('Для того, чтобы ставить лайки, необходимо авторизоваться');{% else %}like({{article.id}}, '{{url_article_like}}', true){% endif %}">
				<i class="fa {% is_liked_fa_heart request.user article %}" aria-hidden="true"></i> 
				<span>{{article.likes}}</span>
			</li>
			<li><i class="fa fa-eye" aria-hidden="true"></i> {{article.views}}</li>
		</ul>
	</div>
	<div class="comments">
		<div class="title">Комментарии (<span id="articles-count">{{article.comments.all.count}}</span>)</div>
		<div class="take-comment-form">
			<img src="{% if request.user.image %}{{request.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" alt="Mona.png">
			<input id="comment-text" name="text" type="text" placeholder="Enter text of your message..." autocomplete="off">
			<input type="submit" value="Send" onclick="send_comment()">
			</div>
		<ul>
			{% for comment in comments %}
				<li id="comment-{{comment.id}}">
					<img src="{% if comment.user.image %}{{comment.user.image.url}}{% else %}{% static 'account/images/user_2.png' %}{% endif %}" alt="Mona.png">
					<div class="comment">
						<div class="user">
							<div>
								<div>{{comment.user}}</div>
								<div class="date">{{comment.date|date:'F d, G:m'}}</div>
							</div>
							{% if comment.user == request.user %}
								<i class="fa fa-times" aria-hidden="true" onclick="delete_comment({{comment.id}})"></i>
							{% endif %}
						</div>
						<div class="text">{{comment.text}}</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
	</div>

{% endblock %}