{% extends 'wrapper.html' %}

{% block title %}

	{% if update %}
		{{article.title|truncatechars:10}} - редактирование поста
	{% else %}
		{{request.user}} - новый пост
	{% endif %}

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_new.css' %}">
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_detail.css' %}">
	<script src="{% static 'it_articles/js/script_post_update.js' %}"></script>

	<script>
		var all_tags = [];
		{% for tag in tags %}
			all_tags.push('{{tag.tag}}');
		{% endfor %}

		$(function() {
			$('input[name="tags"]').attr('type', 'hidden');
			{% if update %}
			var prev_tags = $('input[name="tags"]').val().trim().split(' ');
			for(var i = 0; i < prev_tags.length; i++) 
				$('#tags-input').before('<span class="tag"><span class="tag-name">' + prev_tags[i] + '</span><i class="fa fa-times"></i></span>');
			{% endif %}

			$('#tags-input').keyup(function(event) {
				if(event.keyCode == 32) {
					var tag = $(this).val().trim();
					add_tag(tag);
				} else 
					set_tags_list();
			});

			$('#tags-input').keydown(function(event) {
				if(event.keyCode == 8) {
					var val = $(this).val();
					if(!val) {
						delele_tag($(this).prev());
					}
				}
			});

			$('.tags').on('click', '.tag i', function() {
				delele_tag($(this).parent());
			});

			$('.tags-list').on('click', '.tag', function() {
				add_tag($(this).children().eq(0).text());
				$('#tags-input').focus();
			});

			$('#tags-input').focus(function() {
				$(this).parent().css('box-shadow', '0 0 1px 2px #95afc0');
			});

			$('#tags-input').blur(function() {
				$(this).parent().css('box-shadow', 'none');
			});
		});

		function add_tag(tag) {
			var tags = $('input[name="tags"]').val().trim().split(' ');
			if(!tag) {
				$('#tags-input').val('');
			} else if(tags.length < 5) {
				var wr_tags = $('input[name="tags"]').val().trim().split(' ');
				if(wr_tags.indexOf(tag) >= 0) {
					alert('Такой тег вы уже вводили');
					$('#tags-input').val($('#tags-input').val().trim());
				} else if(all_tags.indexOf(tag) < 0) {
					alert('Такого тега не существует');
					$('#tags-input').val($('#tags-input').val().trim());
				} else {
					$('#tags-input').before('<span class="tag"><span class="tag-name">' + tag + '</span><i class="fa fa-times"></i></span>');
					$('input[name="tags"]').val($('input[name="tags"]').val() + ' ' + tag);
					$('#tags-input').val('');
				}
			} else {
				alert('Вы ввели максимальное количество тегов');
				$('#tags-input').val($('#tags-input').val().trim());
			}
			set_tags_list();
		} 

		function delele_tag(tag_obj) {
			var tag = $(tag_obj).text();
			$(tag_obj).remove();
			$('#tags-input').val(tag + ' ');
			var tags = $('input[name="tags"]').val().trim();
			tags = tags.replace(tag, '').replace('  ', ' ');
			$('input[name="tags"]').val(tags);
			set_tags_list();
		}

		function set_tags_list() {
			var tag = $('#tags-input').val().trim();
			var wr_tags = $('input[name="tags"]').val().trim().split(' ');
			$('.tags-list').children().remove();
			for(var i = 0; i < all_tags.length; i++) {
				if(all_tags[i].indexOf(tag) >= 0 && wr_tags.indexOf(all_tags[i]) < 0)
					$('.tags-list').append('<span class="tag"><span class="tag-name">' + all_tags[i] + '</span></span>');
			}
		}
	</script>
	<style>
.tags {
	border-radius: 5px;
	border: 1px solid #bbb;
	margin-top: 7px;
	margin-bottom: 20px;
	display: flex;
	background: #fff;
	transition: .2s all;
	align-items: center;
	position: relative;
}

.tags .tag {
	background: #dff9fb;
	border-radius: 3px;
	padding: 4px;
	color: #0984e3;
	font-size: 15px;
	margin-left: 5px;
	display: flex;
}

.tags .tag i {
	align-self: center;
	padding-left: 5px;
}

.tags .tag i:hover {
	cursor: pointer;
}

#tags-input {
	border: none;
	background: none;
	margin: 0;
}

#tags-input:focus {
	box-shadow: none;
}

#tags-input:focus + .tags-list {
	max-height: 100px;
	opacity: 1;
}

.tags .tags-list:active {
	max-height: 100px;
	opacity: 1;
}

.tags .tags-list {
	display: flex;
	position: absolute;  
	flex-wrap: wrap;
	overflow: auto;
	left: 5px; 
	top: 37px;
	width: calc(100% - 26px);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #fff;
	padding: 8px 8px 0 8px;
	max-height: 0;
	opacity: 0;
	transition: .2s opacity;
	transition: .2s max-height;
}

.tags .tags-list .tag {
	margin: 0 20px 8px 0;
}

.tags .tags-list .tag:hover {
	cursor: pointer;
}
	</style>

{% endblock %}

{% block top %}

	{% if update %}
		<div class="top_intro">Редактирование поста</div>
	{% else %}
		<div class="top_intro">Новый пост</div>
	{% endif %}

{% endblock %}

{% block content %}

	<div class="content-container">
	<form method="post" class="new-article-form">
		{% for field in form %}
			{% csrf_token %}
			{{field.label_tag}}
			<div class="field-help-text">{{field.help_text|safe}}</div>
			{{field}}
		{% endfor %}
		<div class="tags">
			<input type="text" id="tags-input" autocomplete="off">
			<div class="tags-list">
				{% for tag in tags %}
					<span class="tag">
						<span class="tag-name">{{tag.tag}}</span>
						<span class="tag-count">{{tag.questions}}</span>
					</span>
				{% endfor %}
			</div>
		</div>
		<input type="submit" value="{% if update %}Сохранить изменения{% else %}Создать пост{% endif %}">
		<label id="post-view-label">Так будет выглядеть ваш пост:<input type="button" value="Обновить" onclick="text_transform()"></label>
		<div id="post-view" class="article-content"></div>
	</div>
	</form>

{% endblock %}