{% extends 'wrapper.html' %}

{% block title %}

	{% if update %}
		{{article.title|truncatechars:10}} - редактирование поста
	{% else %}
		{{request.user}} - новый пост
	{% endif %}

{% endblock %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_new.css' %}">
	<link rel="stylesheet" href="{% static 'it_articles/css/style_article_detail.css' %}">
	<script src="{% static 'it_articles/js/script_post_update.js' %}"></script>

	<script>
		$(function() {
			$('.new-article-form input[name="tags"]').attr('type', 'hidden');

			var all_tags = [];
			{% for tag in tags %}
				all_tags.push('{{tag.tag}}');
			{% endfor %}

			$('#tags-input-input').keyup(function(event) {
				val = $('.tags-input input').val();
				var new_tags = [];
				for(var i = 0; i < all_tags.length; i++) {
					if(all_tags[i].indexOf(val) >= 0)
						new_tags.push(all_tags[i]);
				}
				if(new_tags != '') {
					$('.tags-list').children().remove();
					for(var i = 0; i < new_tags.length; i++)
						$('.tags-list').append('<span>' + new_tags[i] + '</span>');
				} 

				if(event.keyCode == 32) {
					var tag = $(this).val().trim();
					$(this).val('');
					$(this).before('<span>' + tag + '<i class="fa fa-times"></i></span>');
					var prev_tags = $('.new-article-form input[name="tags"]').val();
					$('.new-article-form input[name="tags"]').val(prev_tags + tag + ' ');
				} else if(event.keyCode == 8) {
					var tag = $(this).val();
					if(!tag) {
						if($(this).siblings().length > 0) {
							var prev_tag = $(this).prev().text();
							$(this).val(prev_tag);
							$(this).prev().remove();

							var tags = $('.new-article-form input[name="tags"]').val().trim().split(' ');
							$('.new-article-form input[name="tags"]').val('');
							for(var i = 0; i < tags.length - 1; i++)
								$('.new-article-form input[name="tags"]').val(tags[i] + ' ');
						}
					}
				}
			});

			$('.tags-list').on('click', 'span', function() {
				var tag = $(this).text();
				$('#tags-input-input').val('');
				$('#tags-input-input').focus();
				$('#tags-input-input').before('<span>' + tag + '<i class="fa fa-times"></i></span>');
				var prev_tags = $('.new-article-form input[name="tags"]').val();
				$('.new-article-form input[name="tags"]').val(prev_tags + tag + ' ');
			});

			$('.tags-input').on('click', 'span i', function() {
				$(this).parent().remove();
			});

			$('#tags-input-input').focus(function() {
				$(this).parent().css('box-shadow', '0 0 1px 2px #95afc0');
			});

			$('#tags-input-input').blur(function() {
				$(this).parent().css('box-shadow', 'none');
			});

			$('.new-article-form').submit(function() {
				tags = '';
			});
		});
	</script>
	<style>
.new-article-form .tags-input {
	border-radius: 5px;
	border: 1px solid #bbb;
	margin-top: 7px;
	margin-bottom: 20px;
	display: flex;
	background: #fff;
	transition: .2s all;
	align-items: center;
	position: relative;
}

.tags-input span {
	background: #dff9fb;
	border-radius: 3px;
	padding: 4px;
	color: #0984e3;
	font-size: 15px;
	margin-left: 5px;
	display: flex;
}

.tags-input span i {
	align-self: center;
	padding-left: 5px;
}

.tags-input span i:hover {
	cursor: pointer;
}

#tags-input-input {
	border: none;
	background: none;
	margin: 0;
}

#tags-input-input:focus {
	box-shadow: none;
}

#tags-input-input:focus + .tags-list {
	max-height: 100px;
	opacity: 1;
}

.tags-list:active {
	max-height: 100px;
	opacity: 1;
}

.tags-list {
	display: flex;
	position: absolute;  
	flex-wrap: wrap;
	overflow: auto;
	left: 5px; 
	top: 37px;
	width: calc(100% - 26px);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #fff;
	padding: 8px;
	max-height: 0;
	opacity: 0;
	transition: .2s opacity;
	transition: .2s max-height;
}

.tags-list span {
	margin: 0 20px 0 0;
}

.tags-list span:hover {
	cursor: pointer;
}
	</style>

{% endblock %}

{% block top %}

	{% if update %}
		<div class="top_intro">Редактирование поста</div>
	{% else %}
		<div class="top_intro">Новый пост</div>
	{% endif %}

{% endblock %}

{% block content %}

	<div class="content-container">
	<form method="post" class="new-article-form">
		{% for field in form %}
			{% csrf_token %}
			{{field.label_tag}}
			<div class="field-help-text">{{field.help_text|safe}}</div>
			{{field}}
		{% endfor %}
		<div class="tags-input">
			<input type="text" id="tags-input-input" autocomplete="off">
			<div class="tags-list">
				{% for tag in tags %}
					<span class="tag">{{tag.tag}}</span>
				{% endfor %}
			</div>
		</div>
		<input type="submit" value="{% if update %}Сохранить изменения{% else %}Создать пост{% endif %}">
		<label id="post-view-label">Так будет выглядеть ваш пост:<input type="button" value="Обновить" onclick="text_transform()"></label>
		<div id="post-view" class="article-content"></div>
	</div>
	</form>

{% endblock %}