{% extends 'wrapper.html' %}

{% block staticfiles %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'account/css/style_profile.css' %}">

	<script>
		function delete_article(id) {
			if(confirm('Are you shure')) 
				$('#delete-form-' + id).submit();
		}
	</script>

{% endblock %}

{% block top %}

	<div class="top_intro">Мои посты</div>

{% endblock %}

{% block content %}

	<div class="content-container">

	{% if articles %}
		<div class="my_articles">
			<ul>
				<li><b>Всего постов</b>: {{all_articles}}</li>
				<li><b>Всего лайков</b>: {{likes}}</li>
				<li><b>Всего просмотров</b>: {{views}}</li>
				<li><b>Всего комментариев</b>: {{comments}}</li>
			</ul>
			<a href="{% url 'posts:new_post' %}">Создать новый пост</a>
		</div>

		<table class="all_articles">
		<thead>
			<tr>
				<th id="articles_id">ID</th>
				<th id="articles_date">Дата</th>
				<th id="articles_title">Название</th>
				<th><i class="fa fa-thumbs-o-up"></i></th>
				<th><i class="fa fa-comment-o"></i></th>
				<th><i class="fa fa-eye"></i></th>
				<th id="articles_action">Действие</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td class="{% if not article.is_available %}not-available-article{% endif %}">{{article.id}}</td>
					<td>{{article.date|date:'d.m.y - h:m'}}</td>
					<td><a href="{% url 'posts:detail' article.id %}">{{article.title|truncatechars:30}}</a></td>
					<td>{{article.likes}}</td>
					<td>{{article.comments.count}}</td>
					<td>{{article.views}}</td>
					<td>
						<form id="delete-form-{{article.id}}" action="{% url 'posts:delete_post' article.id %}" method="post">
							{% csrf_token %}
							<a href="{% url 'posts:edit_post' article.id %}">Изменить</a><span class="form-slash">/</span><a href="javascript:void()" onclick="delete_article({{article.id}})">Удалить</a>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>	
	{% else %}
		<div class="information">
			У вас пока нет постов. <a href="{% url 'posts:new_post' %}">Создать первый?</a>
		</div>
	{% endif %}
	</div>

{% endblock %}