.all-questions {
	margin: auto;
	border-spacing: 0;
	color: #000;
	font-size: 16px;
}

.all-questions thead {
	background: #343a40;
	color: #fff;
}

.all-questions th {
	text-align: inherit;
}

.all-questions td, .all-questions th {
	padding: 15px;
	border-top: 1px solid #aaa;
}

.all-questions tbody td {
	position: relative;
}

.all-questions tbody tr a {
	text-decoration: none;
	color: #8e44ad;
	font-weight: 500;
	position: relative;
}

.all-questions tbody tr a:hover {
	text-decoration: underline;
}

.all-questions tbody .active > td {
	background: #c3e6cb;
}

.form-slash {
	padding: 0 7px;
}


/* my-questions */

.my-questions {
	color: #000;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.my-questions ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.my-questions a {
	padding: 20px 25px;
	text-decoration: none;
	border-radius: 5px;
	background: #22a6b3;
	color: #fff;
	transition: .2s all;
}

.my-questions a:hover {
	background: #7ed6df;
}

.my-questions a:focus {
	box-shadow: 0 0 1px 3px #3dc1d3;
}

