body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: powderblue;
}

.container {
	margin: 15px 15px 15px 185px;
	width: calc(100% - 200px);
	background: #f5f5f5;
}

.content-container {
	margin: 20px;
	padding-bottom: 20px;
	color: #000;
}

.search {
	text-align: right;
	width: calc(100% - 190px);
	margin-left: 165px;
	display: flex;
	border: 1px solid red;
	padding-top: 30px;
}

.search input {
	border-radius: 5px;
}

.search input[type="text"] {
	border: 1px solid yellow;
	width: 100%;
	margin-right: 20px;
	font-size: 14px;
	font-family: 'Montserrat';
	border: 2px solid #bbb;
	padding: 5px 10px;
}

.search input:focus {
	outline: none;
}

.search input[type="submit"] {
	border: 2px solid #999;
	padding: 7px 40px;
	background: #2d3436;
	color: #fff;
	font-size: 'Montserrat';
	text-transform: uppercase;
}

.search input[type="submit"]:hover {
	background: #555;
	cursor: pointer;
}

.information {
	border: 4px solid #8e44ad;
	background: #c7ecee;
	border-radius: 10px;
	text-align: center;
	padding: 50px 50px;
	color: #8e44ad;
	font-size: 19px;
	font-weight: 600;
}

.information a {
	color: #2ecc71;
	text-decoration: none;
	transition: .2s all;
}

.information a:hover {
	color: #27ae60;
}