.code::-webkit-scrollbar {
	width: 15px;
	height: 15px;
}

.code::-webkit-scrollbar-track {
	margin: 4px;
}

.code::-webkit-scrollbar-corner {
	background: #aaa;
	border-radius: 50%;
	border: 3px solid #333;
}

.code::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 6px;
	border: 4px solid #333;
}

.code::-webkit-scrollbar-thumb:vertical {
	border-top: none;
	border-bottom: none;
}

.code::-webkit-scrollbar-thumb:horizontal {
	border-right: none;
	border-left: none;
}

.code::-webkit-scrollbar-thumb:hover {
	background: #777;
}

.article-content {
	color: #000;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 30px;
}

.code {
	background: #f5f2f0;
	border: 1px solid #000;
	overflow: auto;
	max-height: 350px;
	font-size: 17px;
	padding: 10px;
	color: #111;
	border-radius: 5px;
	line-height: 25px;

	color: #fff;
	background: #333;
}

.post-info {
	margin-top: 30px;
	list-style: none;
	padding: 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

.post-info li {
	display: inline-block;
	margin-right: 30px;
}

.post-info .fa {
	padding-right: 10px;
}

.post-info .is_liked {
	color: #eb2f06;
}

.post-info .post-like:hover {
	cursor: pointer;
}

.comments {
	display: flex;
	flex-direction: column;
}

.comments .title {
	font-size: 23px;
	font-weight: 500;
	position: relative;
	align-self: flex-start;
}

.comments .title:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -3px;
	left: 0;
	background: #000;
}

.take-comment-form {
	margin: 25px 0 20px;
	display: flex;
}

.take-comment-form input[type="text"] {
	font-size: 18px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid #ccc;
	font-family: 'Montserrat';
	width: 100%;
}

.take-comment-form input[type="submit"] {
	border: 2px solid #ccc;
	margin-left: -2px;
	background: #fff;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 300;
	padding: 0 10px;
	transition: .2s all;
}

.take-comment-form input[type="submit"]:hover {
	cursor: pointer;
	background: #f1f2f6;
}

.take-comment-form input:focus {
	outline: none;
}

.comments ul {
	margin: 10px 0 0 0;
	padding: 0;
	list-style: none;
}

.comments li {
	margin-bottom: 15px;
	position: relative;
	display: flex;
}

.comments li img, .comments .take-comment-form img {
	min-width: 40px;
	min-height: 40px;
	max-width: 40px;
	max-height: 40px;
	align-self: flex-start;
	border-radius: 50%;
	margin-right: 10px;
}

.comments .comment {
	width: 100%;
}

.comments .comment .user {
	color: #1e3799;
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-between;
}

.comments .comment .user>div {
	display: flex;
}

.comments .comment .date {
	color: #888;
	font-size: 13px;
	font-weight: 500;
	align-self: flex-end;
	padding-left: 15px;
}

.comments .comment .user .fa-times {
	display: none;
	color: #aaa;
	font-size: 16px;
}

.comments .comment .user .fa-times:hover {
	cursor: pointer;
	color: #888;
}

.comments li:hover .comment .user .fa-times {
	display: block;
}

.comments .comment .text {
	font-size: 16px;
}


.post-header {
	font-size: 27px;
	font-weight: 400;
	display: block;
	margin: 30px 0 10px;
}

.post-header-first {
	font-size: 27px;
	font-weight: 400;
	display: block;
	margin-bottom: 10px;
}

.post-word {
	padding: 0 5px;
	border-radius: 3px;
	background: #7ed6df;
	border: 1px solid #22a6b3;
	font-weight: 400;
	font-size: 17px;
}

.post-strong {
	font-weight: 600;
}

.post-small-code {
	padding: 0 5px;
	border-radius: 3px;
	background: #30336b;
	color: #fff;
	border: 1px solid #130f40;
	font-size: 17px;
}

.article-content a {
	color: #833471;
	font-weight: 600;
	text-decoration: none;
}

.article-content img {
	max-width: 100%;
	margin: 10px auto;
	border-radius: 5px;
	display: block;
}

/*language-html*/
.language-html {
	color: #777;
}

.language-html .doctype {
	color: #999;
}

.language-html .tag {
	color: #A00000;
}

.language-html .attr_name {
	color: #690;
}

.language-html .attr_value {
	color: #07a;
}

.language-html .text {
	color: #000;
}


/*language-css*/
.language-css {
	color: #777;
}

.language-css .class {
	color: #690;
}

.language-css .tag {
	color: #A00000;
}

.language-css .attr_name {
	color: #690;
}

.language-css .attr_value {
	color: #07a;
}

.language-css .text {
	color: #000;
}

.language-css .num {
	color: #9400d3;
} 


/*language-cmd*/
.language-cmd .comment {
	color: #888;
}

.language-cmd .paste {
	color: #3498db;
	font-style: italic;
}


/* language-python */
.language-python .sign, .language-python .system {
	color: #eb3b5a; /*ff4d4d*/
}

.language-python .function {
	color: #48dbfb;
}

.language-python .string {
	color: #ffdd59;
}

.language-python .class, .language-python .func-dec {
	color: #adff2f;
}

.language-python .arg {
	color: #ff9f43;
}