<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ad</title>
</head>
<body>
	<h3>A-ADS 728x90: 'posts/all, posts/detail, qna/questions/all'</h1>
	<iframe data-aa="1394405" src="//ad.a-ads.com/1394405?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>	
	<h3>A-ADS 250x250: 'qna/questions/detail/&lt;id&gt;'</h3>
	<iframe data-aa="1394416" src="//ad.a-ads.com/1394416?size=250x250" scrolling="no" style="width:250px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
</body>
</html>