<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h3>A-ADS 728x90: 'posts/all, qna/questions/all'</h1>
	<iframe data-aa="1394405" src="//ad.a-ads.com/1394405?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>	
	<h3>A-ADS 250x250: 'qna/questions/detail/&lt;id&gt;'</h3>
	<iframe data-aa="1394416" src="//ad.a-ads.com/1394416?size=250x250" scrolling="no" style="width:250px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
	<div class="new-ad">
		<script type="text/javascript">
    var abnsn = abnsn || window.location.hostname.substring(0, 1) + (((new Date().getTime()) / (1000 * 60 * 15)) | 0).toString();
    document.write('<div class="' + abnsn + '" data-unit-id="1884" style="display: none;"></div>');

    (function abnsl1884(w, d, t, u, r) {
        w[r] = w[r] || function (k, v) { (w[r].q = w[r].q || {})[k] = v; }
        a = d.createElement(t); a.src = u; a.async = 1;
        a.onerror = function() { abnsl1884(w, d, t, '//bl.adbutton.net/' + abnsn + '.js', r); };
        m = d.getElementsByTagName(t)[0]; m.parentNode.insertBefore(a, m);
    })(window, document, 'script', '//sl.adbutton.net/' + abnsn + '.js', 'abn');

    abn('Language', 'ru');
    abn('Button', 'true');
    abn('ButtonTheme', '//sl.adbutton.net/button/ru/orange/style1/left.css');
</script>
	</div>
</body>
</html>