{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Monaliza{% endblock %}</title>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'no.ico' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'style_menu.css' %}">
	<link rel="stylesheet" href="{% static 'style_top.css' %}">
	<link rel="stylesheet" href="{% static 'style_articles.css' %}">
	<link rel="stylesheet" href="{% static 'style_messages.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'jquery.nicescroll.js' %}"></script>
	<script src="{% static 'script.js' %}"></script>
	<script src="https://use.fontawesome.com/ec35c87a07.js"></script>
	<script src="{% static 'script_messages.js' %}"></script>
	{% block staticfiles %}{% endblock %}
</head>
<body>
	<div class="menu">
		<ul>
			<li>
				{% if not request.user.is_authenticated %}
					<a class="main_menu user" href="{% url 'account:login' %}">Вход</a>
					<div class="sub_menu">
						<a href="{% url 'account:register' %}">Регистрация</a>
					</div>
				{% else %}
					{% url 'account:account' as url_account %}
					{% url 'account:profile' as url_profile %}
					<a class="main_menu user {% if url_account in request.path %}active{% endif %} {% if url_profile == request.path %}active-2{% endif %}" href="{% url 'account:profile' %}">{{request.user}}</a>
					<div class="sub_menu {% if url_account in request.path or request.user.get_nnc > 0 %}active{% endif %}">
						{% url 'account:settings' as url_settings %}
						<a href="{% url 'account:settings' %}" class="{% if request.path == url_settings %}active{% endif %}"><i class="fa fa-cog"></i> Настройки</a>
						{% url 'account:notifications' as url_notifications %}
						<a href="{% url 'account:notifications' %}" class="{% if request.path == url_notifications %}active{% endif %}"><i class="fa fa-bell"></i> Уведомления{% if request.user.get_nnc > 0 %}<span class="user-nnc">{{request.user.get_nnc}}</span>{% endif %}</a>
						{% url 'account:logout' as url_logout %}
						<a href="{% url 'account:logout' %}" class="{% if request.path == url_logout %}active{% endif %}"><i class="fa fa-sign-out"></i> Выйти</a>
					</div>
				{% endif %}
			</li>
			<li>
				{% url 'posts:posts' as url_posts %}
				{% url 'posts:all_posts' as url_allposts %}
				<a class="main_menu {% if url_posts in request.path %}active{% endif %} {% if url_allposts == request.path %}active-2{% endif %}" href="{% url 'posts:all_posts' %}">Посты</a>
				<div class="sub_menu {% if url_posts in request.path %}active{% endif %}">
					{% if request.user.is_authenticated %}
					{% url 'posts:my_posts' as url_myposts %}
					<a href="{% url 'posts:my_posts' %}" class="{% if request.path == url_myposts %}active{% endif %}"><i class="fa fa-list-ul"></i> Мои посты</a>
					{% url 'posts:new_post' as url_newpost %}
					<a href="{% url 'posts:new_post' %}" class="{% if request.path == url_newpost %}active{% endif %}"><i class="fa fa-plus-circle"></i> Новый пост</a>
					{% endif %}
				</div>
			</li>
			<li>
				{% url 'qna:qna' as url_qna %}
				{% url 'qna:all_questions' as url_allquestions %}
				<a href="{% url 'qna:all_questions' %}" class="main_menu {% if url_qna in request.path %}active{% endif %} {% if url_allquestions == request.path %}active-2{% endif %}">Q&A</a>
				<div class="sub_menu {% if url_qna in request.path %}active{% endif %}">
					{% if request.user.is_authenticated %}
					{% url 'qna:my_questions' as url_myquestions %}
					<a href="{% url 'qna:my_questions' %}" class="{% if request.path == url_myquestions %}active{% endif %}"><i class="fa fa-list-ul"></i> Мои вопросы</a>
					{% url 'qna:new_question' as url_newquestion %}
					<a href="{% url 'qna:new_question' %}" class="{% if request.path == url_newquestion %}active{% endif %}"><i class="fa fa-plus-circle"></i> Задать вопрос</a>
					{% endif %}
				</div>
			</li>
		</ul>
		<div class="title"><a href="{% url 'start_page:main_view' %}">Monaliza</a></div>
	</div>

	
	<style>
		.user-nnc {
			position: absolute;
			left: 12px;
			top: 0;
			color: #fff;
			font-size: 13px;
			border-radius: 3px;
			border: 1px solid #333;
			padding: 0 3px 1px 3px;
			background: #e74c3c;
		}

		.menu .fa {
			font-size: 13px;
			padding-right: 7px;
		}

		.menu a {
			display: flex;
			align-items: center;
		}
		
		.menu .title a {
			display: block;
		}

		.search-form {
			margin-left: 185px;
			margin-right: 15px;
			display: flex;
			padding: 9px 15px;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0 0 3px 0 #ccc;
			transition: .2s all;
			position: relative;
		}

		.search-form input[type="text"] {
			width: 100%;
			border: none;
			background: none;
			font-family: 'Montserrat';
			font-size: 14px;
			color: #444;
			padding-right: 15px;
		}

		.search-form input[type="text"]:focus {
			outline: none;
		}

		.search-form i {
			border: none;
			background: none;
			padding: 0;
			color: powderblue;
			font-size: 17px;
			transition: .3s all;
			position: absolute;
			right: 15px;
		}
	
		.search-form i:hover {
			cursor: pointer;
		}

		#btn-2 {
			transform: scale(0);
			right: 17px;
		}		
	</style>
	<script>
		$(function() {
			$('#btn-2').on('click', function() {
				$('.search-form input').val('');
				$('#btn-1').css('transform', 'scale(1)');
				$('#btn-2').css('transform', 'scale(0)');
			});
			$('#btn-1').on('click', function() {
				$('.search-form input').focus();
			});	
			$('.search-form input[type="text"]').focus(function() {
				$('.search-form').css('box-shadow', '0 0 5px 2px #bbb');
				$('#btn-1').css('transform', 'scale(0)');
				$('#btn-2').css('transform', 'scale(1)');
			});
			$('.search-form input[type="text"]').blur(function() {
				var val = $('.search-form input').val();
				if(val.split() == '') {
					$('#btn-1').css('transform', 'scale(1)');
					$('#btn-2').css('transform', 'scale(0)');
				}
				$('.search-form').css('box-shadow', '0 0 3px 0 #ccc');
			});		
		});
	</script>
	<form class="search-form" method="get" action="{% url 'search:search' %}">
		<input name="text" type="text" placeholder="Поиск по сайту" {% if request.GET.text != '' %}value="{{request.GET.text}}"{% endif %}>
		<i class="fa fa-close" id="btn-2"></i>
		<i class="fa fa-search" id="btn-1"></i>
		<input name="model" type="hidden" value="{% if 'posts' in request.path %}post{% elif 'questions' in request.path %}question{% elif 'account' in request.path or 'search/users' in request.path %}user{% else %}{{request.GET.model}}{% endif %}">
		<input type="hidden" name="sort" value="{% if not request.GET.sort %}likes{% else %}{{request.GET.sort}}{% endif %}">
	</form>


	<div class="container">
		<div class="top">
			{% block top %}
				<div class="top_intro">
					{% block top_title %}Все посты{% endblock %}
				</div>
				<!--<div class="top_menu">
					<ul>
						<li><input class="btn active" id="articles_new" type="button" id="new_works" value='New works'></li>
						<li><input class="btn" id="articles_popular" type="button" id="popular_works" value='Popular works'></li>
						<li><input class="btn" type="button" id="also" value='Also'></li>
					</ul>
				</div>-->
			{% endblock %}
		</div>
		<div class="content">
			{% if messages %}
				<div class="messages">
					{% for message in messages %}
						<div class="message {{message.tags}}">
							{{message|safe}}
							<button class="close">x</button>
						</div>
					{% endfor %}
				</div>
			{% endif %}		
			{% block content %}{% endblock %}
		</div>
	</div>
	
	<script src="https://lkalite.info/view.js?sid=884329" async type="text/javascript" charset="UTF-8"></script>
</body>
</html>
{% endspaceless %}