<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Monaliza{% endblock %}</title>
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="{% static 'style_menu.css' %}">
	<link rel="stylesheet" href="{% static 'style_top.css' %}">
	<link rel="stylesheet" href="{% static 'style_articles.css' %}">
	<link rel="stylesheet" href="{% static 'style_messages.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{% static 'jquery.nicescroll.js' %}"></script>
	<script src="{% static 'script.js' %}"></script>
	<script src="https://use.fontawesome.com/ec35c87a07.js"></script>
	<script src="{% static 'script_messages.js' %}"></script>
	{% block staticfiles %}{% endblock %}
</head>
<body>
	<div class="menu">
		<ul>
			<li>
				{% if not request.user.is_authenticated %}
					<a class="main_menu user" href="{% url 'account:login' %}">Вход</a>
					<div class="sub_menu">
						<a href="{% url 'account:register' %}">Регистрация</a>
					</div>
				{% else %}
					{% url 'account:profile' as url_profile %}
					{% url 'account:my_articles' as url_my_articles %}
					{% url 'account:notifications' as url_notifications %}
					<a class="main_menu user {% if url_profile in request.path or url_my_articles in request.path or url_notifications in request.path %}active{% endif %}" href="{% url 'account:profile' %}">{{request.user}}</a>
					<div class="sub_menu {% if url_profile in request.path or url_my_articles in request.path or url_notifications in request.path %}active{% endif %}">
						{% url 'account:settings' as url_settings %}
						<a href="{% url 'account:settings' %}" class="{% if request.path == url_settings %}active{% endif %}"><i class="fa fa-cog"></i> Настройки</a>
						<a href="{% url 'account:my_articles' %}" class="{% if url_my_articles in request.path %}active{% endif %}"><i class="fa fa-list"></i> Мои посты</a>
						<a href="{% url 'account:notifications' %}" class="{% if request.path == url_notifications %}active{% endif %}"><i class="fa fa-bell"></i> Уведомления</a>
					</div>
				{% endif %}
			</li>
			<li>
				{% url 'it_articles:articles_all' as url_articles_all %}
				<a class="main_menu {% if request.path == url_articles_all %}active{% endif %}" href="{% url 'it_articles:articles_all' %}">Посты</a>
				<div class="sub_menu {% if request.path == url_articles_all %}active{% endif %}">
					<a class="{% if request.path == url_articles_all and request.GET.language == 'cpp' %}active{% endif %}" href="{% url 'it_articles:articles_all' %}?language=cpp">C++</a>
					<a class="{% if request.path == url_articles_all and request.GET.language == 'python' %}active{% endif %}" href="{% url 'it_articles:articles_all' %}?language=python">Python</a>
					<a class="{% if request.path == url_articles_all and request.GET.language == 'web' %}active{% endif %}" href="{% url 'it_articles:articles_all' %}?language=web">Web</a>
				</div>
			</li>
			<li>
				{% url 'qna:all_questions' as url_qna %}
				<a href="{% url 'qna:all_questions' %}" class="main_menu {% if url_qna in request.path %}active{% endif %}">Q&A</a>
			</li>
		</ul>
		<div class="title"><a href="{% url 'start_page:main_view' %}">Monaliza</a></div>
	</div>
	<!--<form class="search" method="get" action="{% url 'it_articles:search' %}">
		<input type="text" name="text">
		<input type="submit" value="Search">
	</form>-->

	
	<style>
		.search-form {
			margin-left: 175px;
			margin-right: 15px;
			display: flex;
			padding: 9px 15px;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 0 0 3px 0 #ccc;
			transition: .2s all;
			position: relative;
		}

		.search-form input[type="text"] {
			width: 100%;
			border: none;
			background: none;
			font-family: 'Montserrat';
			font-size: 14px;
			color: #444;
			padding-right: 15px;
		}

		.search-form input[type="text"]:focus {
			outline: none;
		}

		.search-form i {
			border: none;
			background: none;
			padding: 0;
			color: powderblue;
			font-size: 17px;
			transition: .3s all;
			position: absolute;
			right: 15px;
		}
	
		.search-form i:hover {
			cursor: pointer;
		}

		#btn-2 {
			transform: scale(0);
			right: 17px;
		}		
	</style>
	<script>
		$(function() {
			$('#btn-2').on('click', function() {
				$('.search-form input').val('');
				$('#btn-1').css('transform', 'scale(1)');
				$('#btn-2').css('transform', 'scale(0)');
			});
			$('#btn-1').on('click', function() {
				$('.search-form input').focus();
			});	
			$('.search-form input[type="text"]').focus(function() {
				$('.search-form').css('box-shadow', '0 0 5px 2px #bbb');
				$('#btn-1').css('transform', 'scale(0)');
				$('#btn-2').css('transform', 'scale(1)');
			});
			$('.search-form input[type="text"]').blur(function() {
				var val = $('.search-form input').val();
				if(val.split() == '') {
					$('#btn-1').css('transform', 'scale(1)');
					$('#btn-2').css('transform', 'scale(0)');
				}
				$('.search-form').css('box-shadow', '0 0 3px 0 #ccc');
			});		
		});
	</script>
	<form class="search-form" method="get" action="{% url 'search:search' %}">
		<input name="text" type="text" placeholder="Поиск по сайту" {% if request.GET.text != '' %}value="{{request.GET.text}}"{% endif %}>
		<i class="fa fa-close" id="btn-2"></i>
		<i class="fa fa-search" id="btn-1"></i>
		<input name="model" type="hidden" value="{% if 'posts' in request.path %}post{% elif 'account' in request.path or 'search/users' in request.path %}user{% else %}{{request.GET.model}}{% endif %}">
		<input type="hidden" name="sort" value="{% if not request.GET.sort %}likes{% else %}{{request.GET.sort}}{% endif %}">
	</form>


	<div class="container">
		<div class="top">
			{% block top %}
				<div class="top_intro">
					{% block top_title %}Все посты{% endblock %}
				</div>
				<!--<div class="top_menu">
					<ul>
						<li><input class="btn active" id="articles_new" type="button" id="new_works" value='New works'></li>
						<li><input class="btn" id="articles_popular" type="button" id="popular_works" value='Popular works'></li>
						<li><input class="btn" type="button" id="also" value='Also'></li>
					</ul>
				</div>-->
			{% endblock %}
		</div>
		<div class="content">
			{% if messages %}
				<div class="messages">
					{% for message in messages %}
						<div class="message {{message.tags}}">
							{{message|safe}}
							<button class="close">x</button>
						</div>
					{% endfor %}
				</div>
			{% endif %}		
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>