{% extends 'start_page/wrapper.html' %}


{% block staticfiles %}

	<meta name="yandex-verification" content="294bc3446b656ee7" />
	<meta name="check_bc" content="cfa658427efee16f7031d69888e68c959a1c7fef"/>
	<meta name="CatCute4a48807a5" content="27A6AAD8EBF9B025035868962A82AD55Y2944" />

{% endblock %}

{% block description %}

	Добро пожаловать на Monaliza! Это проект, где вы найдете интересные статьи об IT-сфере, узнаете много нового. Здесь вы сможете найти ответиты на свои вопросы, попросить помощи у других пользователей или же подсказать им решение их проблем. Удачи!

{% endblock %}

{% block top %}

	<div class="top-intro">
		Welcome to Monaliza
	</div>
	<div class="top-buttons">
		<a id="sign-in-btn" href="{% url 'account:login' %}">Sign in</a>
		<span class="top-btns-or">or</span>
		<a href="{% url 'account:register' %}">Sign up</a>
	</div>
	
{% endblock %}