{% extends 'start_page/wrapper.html' %}

{% block description %}

	Добро пожаловать на Monaliza! Это проект, где вы найдете интересные статьи об IT-сфере, узнаете много нового. Здесь вы сможете найти ответиты на свои вопросы, попросить помощи у других пользователей или же подсказать им решение их проблем. Удачи!

{% endblock %}

{% block top %}

	<div class="top-intro">
		Welcome to Monaliza
	</div>
	<div class="top-buttons">
		<a id="sign-in-btn" href="{% url 'account:login' %}">Sign in</a>
		<span class="top-btns-or">or</span>
		<a href="{% url 'account:register' %}">Sign up</a>
	</div>
	
{% endblock %}