{% extends 'start_page/wrapper.html' %}

{% block top %}

	<div class="top-intro">
		Welcome to Monaliza
	</div>
	<div class="top-buttons">
		<a id="sign-in-btn" href="{% url 'account:login' %}">Sign in</a>
		<span class="top-btns-or">or</span>
		<a href="{% url 'account:register' %}">Sign up</a>
	</div>
	<div class="hidden-ad">
		<iframe data-aa="1388285" src="//ad.a-ads.com/1388285?size=250x250" scrolling="no" style="width:250px; height:250px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
		<iframe data-aa="1388292" src="//ad.a-ads.com/1388292?size=728x90" scrolling="no" style="width:728px; height:90px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
	</div>
	
{% endblock %}