<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Monaliza</title>
	<meta name="Description" content="{% block description %}Monaliza{% endblock %}"/>
	<meta name="Keywords" content="monaliza monalizaa монализа монализаа лебалекс lebalex monaliza-lebalex">
	<link rel="icon" href="{% url 'favicon' %}" type="image/x-icon">
	{% load static %}
	<link rel="stylesheet" href="{% static 'start_page/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'start_page/css/style_top.css' %}">
	{% block staticfiles %}{% endblock %}
</head>
<body style="background: #444">
	<div class="top">
		<div class="container">
			<div class="top-bar">
				<div class="top-logo">
					<a href="{% url 'start_page:main_view' %}">Monaliza</a>
				</div>			
				<div class="top-menu">
					<ul>
						<li><a href="{% url 'posts:posts' %}">Посты</a></li>
						<li><a href="{% url 'qna:questions' %}">Q&A</a></li>		
						{% if request.user.is_authenticated %}
							<li><a href="{% url 'account:profile' %}">Профиль</a></li>		
						{% endif %}
						<li><a href="{% url 'about' %}">О проекте</a></li>
					</ul>
				</div>
			</div>
			{% block top %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
