<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Monaliza</title>
	<meta name="Description" content="This site is about programming. You can read interesting posts, write comments. If you do not know something, just create a questions and different users will answer on it. Good luck!">
	<meta name="Keywords" content="monaliza monalizaa монализа монализаа лебалекс lebalex monaliza-lebalex">
	{% load static %}
	<link rel="shortcut icon" type="image/png" href="{% static 'yes.ico' %}">
	<link rel="stylesheet" href="{% static 'start_page/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'start_page/css/style_top.css' %}">
	{% block staticfiles %}{% endblock %}
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
   		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   		ym(62483644, "init", {
        	clickmap:true,
        	trackLinks:true,
        	accurateTrackBounce:true
   		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/62483644" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</head>
<body style="background: #444">
	<div class="top">
		<div class="container">
			<div class="top-bar">
				<div class="top-logo">
					<a href="{% url 'start_page:main_view' %}">Monaliza</a>
				</div>			
				<div class="top-menu">
					<ul>
						<li><a href="{% url 'posts:all_posts' %}">Posts</a></li>
						<li><a href="{% url 'qna:all_questions' %}">Q&A</a></li>			
						{% if request.user.is_authenticated %}
							<li><a href="{% url 'account:profile' %}">Profile</a></li>		
						{% endif %}
					</ul>
				</div>
			</div>
			{% block top %}
			{% endblock %}
		</div>
	</div>
</body>
</html>
