body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: powderblue;
}

.container {
	margin: 0 70px;
}

.hidden-ad {
	display: none;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #444;
}

body::-webkit-scrollbar-thumb:vertical {
	background: linear-gradient(to bottom, #fff, #4a4a4a);
}

body::-webkit-scrollbar-thumb:horizontal {
	background: linear-gradient(to right, #fff, #4a4a4a);
}

body::-webkit-scrollbar-corner {
	background: #4a4a4a;
}